<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./static/vue.js"></script>
</head>
<body>
  <div id="app">
      <h1>{{ msg }}</h1>
  
        <!-- 使用v-model指令，可以显示表单元素和Model中数据的双向数据绑定 -->
        <!-- 注意，v-model只能运用在表单元素中 -->
        <!-- 例如input(radio,text,adress,email) select checkbox textarea等等 -->
        <input v-model="msg">
      </div>
      <script>
        var vm = new Vue({
          el: '#app',
          data: {
              msg:'你好'
          }
        })
      </script>
</body>
</html>